<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="dashboard-container">
        <h1>Selamat Datang di Dashboard Admin!</h1>
        <p>Di sini kamu bisa mengelola data dan melakukan berbagai tugas administratif.</p>
        <!-- Tambahkan konten dashboard lainnya di sini -->

        <!-- Tambahkan tombol logout -->
        <a href="/admin/logout" class="btn-logout">Logout</a>
    </div>

    <div class="container">
        <h1>Data Sewa</h1>
        <div class="cards-container">
            <% data.forEach(function(item) { %>
                <div class="card">
                    <h3>Nama: <%= item.nama %>
                    </h3>
                    <p>Tanggal: <%= moment(item.tanggal).format('DD/MM/YYYY') %>
                    </p>
                    <p>Jam Masuk: <%= item.jam_masuk %>
                    </p>
                    <p>Jam Keluar: <%= item.jam_keluar %>
                    </p>
                    <p>Nomor Telepon: <%= item.nomor_telepon %>
                    </p>
                </div>
                <% }) %>
        </div>
    </div>
</body>

</html>